{% load static %}

<html lang="en">
   <head>
      <!-- basic -->
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <!-- mobile metas -->
       <!-- Compiled and minified CSS -->
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="viewport" content="initial-scale=1, maximum-scale=1">
      <!-- site metas -->
      <title>breasty</title>
      <meta name="keywords" content="">
      <meta name="description" content="">
      <meta name="author" content="">
      <!-- bootstrap css -->
      <link rel="stylesheet" href= "{% static 'css/bootstrap.css' %}">
      <!-- style css -->
      <link rel="stylesheet" href="{% static 'css/style.css' %}">
      <!-- Responsive-->
      <link rel="stylesheet" href="{% static 'css/responsive.css' %}">
      <!-- Scrollbar Custom CSS -->
      <link rel="stylesheet" href="{% static 'css/jquery.mCustomScrollbar.css' %}">
      <!-- Tweaks for older IEs-->
      <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css" media="screen">
       <!-- bootstrap -->
      <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
      <!--close-->
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script><![endif]-->
   </head>
   <!-- body -->
   <body class="main-layout" style="background-color:#FDC1E5; font-family: sans-serif;">
      <!-- loader  -->
      <div class="loader_bg">
         <div class="loader"><img src="https://trello-attachments.s3.amazonaws.com/5fae80b96139a638fce8c94a/5fae80e72a405828584e0fd1/2e1ca89c43fa0a61affcdf7fef82382e/loading.gif" alt="#" /></div>
      </div>
      <!-- end loader -->
      <!-- header -->
      <header>
         <!-- header inner -->
         <div class="header">
         <div class="container">
            <div class="row">
               <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col logo_section">
                  <div class="full">
                     <div class="center-desk">
                        <div class="logo">
                           <a href="/">
                              <img src = "https://trello-attachments.s3.amazonaws.com/5fae80b96139a638fce8c94a/5fae80e72a405828584e0fd1/4bfd7dc19d5f60cedd185d49e63356fa/logo.png" style = "height: 6vh; width: 5vw;">breasty
                           </a>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="col-xl-9 col-lg-9 col-md-9 col-sm-9">
                  <div class="menu-area">
                     <div class="limit-box">
                        <nav class="main-menu">
                           <ul class="menu-area-main">
                              <li class="active"> <a href="/">Home</a> </li>
                              <li> <a href="#about">About</a> </li>
                               <li> <a href="#download">Community</a> </li>
                              <li> <a href="#testimonial">Sign In</a> </li>
                               <li> <a href="/">Help</a> </li>
                           </ul>
                        </nav>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <!-- end header inner -->
         </div></header>
      <!-- end header -->

      <!--body-->
      <!--form-->
      <div class="container">
      <div class="row mt-4">
    <div class="col">
        <h3 style="font-family:commanders"> Schedule Appointment</h3>
        <form class="form-inline" action="add_todo" method="post">
            {% csrf_token %}
        <input type="text" class="form-control mb-2 mr-sm-3" placeholder="Enter the date and venue..." size="60" name="task">
        <button type="submit" class="btn btn-dark mb-2">Submit</button>

</form>
    </div>
      </div>
         <!--close form-->
      <div class="row">
   <div class="col">
       <ul class="list-group">
      {% for tasks in tasks %}
           <li class="list-group-item list-group-item-action list-group-item-light">{{tasks.task}}
               <br>{{tasks.date}}
            <div class="float-right">
            <form action="delete_todo/{{tasks.id}}" method="post">
                {% csrf_token %}
                <a href="http://127.0.0.1:8000/admin/hustlers/task/" class="btn btn-sm btn-warning">Edit</a>
            <button type="submit" class="btn btn-sm btn-danger">Remove appointment</button>
            </form>

            </div>
           </li>
           {% endfor %}
       </ul>
   </div>
   </div>


</div>


      <!--bootstrap-->
      <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
      <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.min.js" integrity="sha384-w1Q4orYjBQndcko6MimVbzY0tgp4pWB4lZ7lr30WKz0vr/aWKhXdBNmNb5D92v7s" crossorigin="anonymous"></script>

   <!--script-->

   <script src="https://trello-attachments.s3.amazonaws.com/5fae80b96139a638fce8c94a/5fae80e72a405828584e0fd1/307713a47548d6b6ca8dc721f3a8f769/jquery.min.js"></script>
      <script src="https://trello-attachments.s3.amazonaws.com/5fae80b96139a638fce8c94a/5fae80e72a405828584e0fd1/838c1dd1bd79e0b27ad7bd9bae1e1185/popper.min.js"></script>
      <script src="https://trello-attachments.s3.amazonaws.com/5fae80b96139a638fce8c94a/5fae80e72a405828584e0fd1/fb7a961aa1c7a377f8fcf5bbe375c188/bootstrap.bundle.min.js"></script>
      <script src="https://trello-attachments.s3.amazonaws.com/5fae80b96139a638fce8c94a/5fae80e72a405828584e0fd1/e55d4af819c7c6f728971c3a93829d51/jquery-3.0.0.min.js"></script>
      <script src="https://trello-attachments.s3.amazonaws.com/5fae80b96139a638fce8c94a/5fae80e72a405828584e0fd1/2b4d8cacf60c8442b96dcb509a64d6ae/plugin.js"></script>
      <!-- sidebar -->
      <script src="https://trello-attachments.s3.amazonaws.com/5fae80b96139a638fce8c94a/5fae80e72a405828584e0fd1/72f23e1fb2b99c39eab7879adf558cbf/jquery.mCustomScrollbar.concat.min.js"></script>
      <script src="https://trello-attachments.s3.amazonaws.com/5fae80b96139a638fce8c94a/5fae80e72a405828584e0fd1/bc8ab7a22a25b1679f7d29ac1b9d2400/custom.js"></script>
      <script src="https:cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.js"></script>
      <script>

         $(document).ready(function(){
         $(".fancybox").fancybox({
         openEffect: "none",
         closeEffect: "none"
         });

         $(".zoom").hover(function(){

         $(this).addClass('transition');
         }, function(){

         $(this).removeClass('transition');
         });
         });

      </script>
</body>
</html>
